{% extends "layout.html" %}
{% block body %}

<hr size="1" width="85%" color="black"> 
    
    {% for reviews in all_reviews %}
   
        <h1 style="font-size:190%; text-align:center;">Book</h1> 
        <p style="font-size:110%; text-align:center;"> {{ reviews["Book"] }} </p>

        <h1 style="font-size:190%; text-align:center;">Rating</h1>
            <p style="font-size:142%; text-align:center;"> {{ reviews["Rating"] }} </p>

        <h1 style="font-size:190%; text-align:center;">Review</h1>
            <p style="font-size:110%; text-align:center;"> {{ reviews["Review"] }} </p>

        {# <!-- <p style="font-size:105%; text-align:center;"> <a href="{{ url_for('create_review', id = reviews["book_id"] ) }}"> Amend review</a> </p> --> #}
                     
        
        
     
    
    
    
    <hr size="1" width="85%" color="black"> 

            

    
    {% endfor %}
{% endblock body %}