{% extends "layout.html" %}
{% block body %}

    
    {% for authors in all_authors %}
    {% for id in authors["Book ID: "]}
        <h1 style="text-align:center;">Author</h1>
    
            <p style="font-size:160%; text-align:center;"> {{ authors["Author"] }} </p>
            
            <p style="font-size:105%; text-align:center;"> <a href="{{ url_for('create_book', id = authors["Author ID: "] ) }}"> New Book</a> </p>
           
            
        
    

    
    
        <h2 style="text-align:center;"> Books </h2>
    
    {% for book in authors["Books"] %}    
    
            <p style="text-align:center;"> {{ book }} </p>
            <p style="font-size:105%; text-align:center;"> <a href="{{ url_for('create_review', id = authors["Book ID: "] ) }}"> New Review</a> </p>
            
        
        
     
    {% endfor %}
    
    
    <hr size="1" width="85%" color="black"> 
</table>
            

    
    {% endfor %}
    {% endfor %}
{% endblock body %}