{% extends "layout.html" %}
{% block body %}

    
    {% for authors in all_authors %}
    <table>
        <th>Author</th>
        <tr>
            <td> {{ authors["Author"] }} </td>
            <a href="{{ url_for('home') }}">home</a>
        </tr>
    </table>

    
    <table></table>
    <th> Books </th>
    
    {% for book in authors["Books"] %}    
        <tr>
            <td> {{ book }} </td>
            <td> <a href="{{ url_for('home') }}">home</a> </td>
        </tr>
        
     
    {% endfor %}
    
    
    <hr size="1" width="85%" color="black"> 
</table>
            

    
    {% endfor %}
{% endblock body %}