{% extends "layout.html" %}
{% block body %}

    <h2>Reviews</h2>
    {% for reviews in all_reviews %}
    
        <p>
           {# <!-- Author: {{ reviews.book.author.name }}<br>
            Book: {{ reviews.book.name }}<br>} --> #}
            Rating: {{ reviews.rating }}<br>
            Review: {{ reviews.thoughts }}<br>
            <a href="{{ url_for('books_list') }}">View books</a>
            {# <a href="{{ url_for('delete_task', id=task.id) }}">Delete</a> #}
            {# <!-- <a href="{{ url_for('complete_task', id=task.id) }}">Complete</a> --> #}
        </p>    

    {% endfor %}
    
    

{% endblock body %}