<!DOCTYPE html>
<html>

    
    <head>
        <title>Library - {{ title }}</title>
    </head>
    <body style="background-color: rgb(231, 89, 23);"></body>
        <h1 style="text-align:center;">Library - {{ title }}</h1>
        <p style="text-align:center;"> <a href="{{ url_for('home') }}">Home</a> </p>
        <p style="text-align:center;"> <a href="{{ url_for('create_author') }}">New Author</a> </p>
        <p style="text-align:center;"> <a href="{{ url_for('allreviews') }}">View All Reviews</a> </p>

        
        {% block body %}
        {% endblock body %}
    </body>
</html>
